Source: php5-fss
Section: web
Priority: optional
Maintainer: Faidon Liambotis <faidon@wikimedia.org>
Build-Depends: debhelper (>= 9), php5-dev, hhvm-dev, cmake
Standards-Version: 3.9.5

Package: php5-fss
Architecture: any
Depends: php5 | php5-cli, ${shlibs:Depends}, ${misc:Depends}, ${php:Depends}
Description: fast string search extension for PHP
 This is a PHP extension for fast string search and replace that supports
 multiple search terms. It can be used as a replacement for PHP's strtr, which
 is extremely slow in certain cases, such as Chinese script conversion.
 Theextension uses a Commentz-Walter style algorithm for multiple search terms,
 or a Boyer-Moore algorithm for single search terms.

Package: hhvm-fss
Architecture: any
Depends: hhvm (= ${hhvm:Depends}), ${shlibs:Depends}, ${misc:Depends}, ${php:Depends}
Description: fast string search extension for HHVM
 This is a HHVM extension for fast string search and replace that supports
 multiple search terms. It can be used as a replacement for PHP's strtr, which
 is extremely slow in certain cases, such as Chinese script conversion.
 Theextension uses a Commentz-Walter style algorithm for multiple search terms,
 or a Boyer-Moore algorithm for single search terms.
